$headings-font-family: "Open Sans", serif;
$primary: #22A1ED;
$dark: #04040C;
$headings-color: #284876;
$card-bg: #FCFCFC;
$body-bg: #F3E8F0;

#logo {
    width: 70%;
}

#footercolor {
    background: linear-gradient(135deg, #E58909, #935DF0);
}

.bi-cart-fill::before {
    color: #FFFF;
    margin-right: 10px;
}

.btn-secondary {
    background-color: yellow;
}