$headings-font-family: "Open Sans", serif;
$headings-font-weight: 600;
$primary: #22A1ED;
$dark: #04040C;
$headings-color: #04040C;
$card-bg: #FCFCFC;
$body-bg: #F3E8F0;


#logo {
    width: 70%;
}

#footercolor {
    background: linear-gradient(135deg, #E58909, #935DF0);
}

.bi-cart-fill::before {
    color: #FFFF;
    margin-right: 10px;
}

.btn .btn-secondary .addBasket {
    background-color: black;
}

#add {
    border-radius: 10px 0px 0px 10px;
}

#remove {
    border-radius: 0px 10px 10px 0px;
}

.table th{
    vertical-align: unset;
}